body {
    background: blue;

    div{
        background: red;
        color: green;
        p{
            color: blue;
            a{
                color: white;
            }
        }
    }
  }

